@import url("bootstrap.min.css");
@import url("font.css");

@media (min-width: 1200px) {
  .container-fluid{
    padding:0px 75px
  }
}

.contact-container {
           width: 400px;
           margin: 50px auto;
           border: 1px solid #ddd;
           padding: 20px;
           border-radius: 8px;
         background-color: rgba(255, 255, 255 / 5%);
          box-shadow: 0px 0px 10px #F5E4C9;
          backdrop-filter : blur(20px);
          color: #fff !important;
          transition: all 0.3s;
          font-size: 16px;
                 font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
       }


.active{
  background-color: #F5E4C9;
  border-radius: 3px;
  color:white;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Montserrat', 'sans-serif';
  padding-top: 10px;
  margin: 10px;
  font-size:14px;
    text-align: justify;
    background-image: url('/assets/img/tulip.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
}

header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  padding-bottom: 75px;
}
header .intro-text {
  padding-top: 20px;
      text-align:left;
}
header .intro-text .intro-lead-in {
    font-size: 15px;
    margin-bottom: 5px;
    font-style: italic;
    font-family: "Roboto Slab", sans-serif;
}
header .intro-text .intro-heading {
    font-size: 40px;
    margin-bottom: 5px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

header .intro-text a {
  color:white;
}
header .intro-text a:hover {
  color: white;
}

@media (min-height: 768px) {
  header .intro-text {
    padding-top: 100px;
  }
    header {
          padding-bottom: 125px;
    }

}


h1.main {
    color:#F5E4C9;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    padding-top: 60px;
    margin: 0;
    letter-spacing: .15em;
    animation: typing 3s steps(40, end), blink-caret .5s step-end infinite;
        }

        h1.main2 {
            color:#5B503D;
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            overflow: hidden;
            border-right: .15em solid transparent;
            white-space: nowrap;
            padding-top: 60px;
            margin: 0;
            letter-spacing: .15em;
            animation: typing 3s steps(40, end), blink-caret .5s step-end infinite;
                }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-size: 16px;
}

p.large {
  font-size: 18px;
  text-align: left;
}

a {
  color:#F5E4C9;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #F5E4C9;
}

.navbar-custom {
  background-color: #ffffff;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #5B503D;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, cursive;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #F5E4C9;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255);
}
.navbar-custom .navbar-toggle {
  background-color: #5B503D;
  border-color: #5B503D;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #5B503D;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #F5E4C9;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #5B503D;
  outline: none;
  box-shadow: inset 350px 0 0 0 #222222;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: #F5E4C9;
  background-color: #F5E4C9;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #F5E4C9;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: #ffffff;
    padding: 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #ffffff;
    padding: 10px 0;
  }
/*  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }*/
}

section {
  position: relative;
  padding: 100px 0;
}


section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 75px 0;
  }
}

#sidebar {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 250px;
    max-width: 250px;
    background-color: rgba(255, 255, 255 / 5%);
    box-shadow: 0px 0px 10px #F5E4C9;
    backdrop-filter : blur(20px);
    color: #fff !important;
    transition: all 0.3s;
    font-size: 16px
}

#sidebar a{
    color: white;
}

#sidebar a:hover, a:focus{
    text-decoration: none;
}

#sidebar ul.components {
    padding: 20px 0;
}


#sidebar ul li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #24d8ba;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #1fc4a8;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 800px;
    margin-top: 150px;
}


.gallery-item {
    width: 100%;
    height: 90%;
    padding-bottom: 1%; /* Maintain square aspect ratio */
    object-fit: cover; /* Ensure the image covers the square */
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-item:hover {
    transform: scale(1.05);
}


/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


.close-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #grey;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.close-btn:hover {
    background-color: #ff3333;
}


@media screen and (max-width:400px) {


  h1.main {

      font-weight: 200;
      margin-bottom: 20px;
          }


          h1,
          h2,
          h3,
          h4{

            font-weight: 200;
            font-size: 16px;
          }

h5{
  font-weight: 200;
  font-size: 10px;
}
          header .intro-text .intro-lead-in {
              font-size: 10px;
          }

          header .intro-text .intro-heading {
              font-size: 16px;
              margin-bottom: 5px;
              font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
          }

  .gallery {
    margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      width: 340px;
  }



  .gallery-item:hover {
      transform: scale(1.2);
  }


  header .intro-text {
    padding-top: 10px;
  }
    header {
          padding-bottom: 10px;
    }

    .contact-container {
               width: 300px;
               margin: 0;
               font-size: 14px;
               margin-bottom: 500px;
}

#me{
           margin-bottom: 100px;
}
}
