body{
  background-color: #222222;
}
h1.main {
    color:#12e2c0;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
    animation: typing 3s steps(40, end), blink-caret .5s step-end infinite;
        }

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: transparent;
    }
}



h1,
h2 {
    color:#12e2c0;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    margin: 0;
    letter-spacing: .15em;
        }
h3,
h4,
h5 {
  line-height: 20px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: normal;
  margin-top: 30px;
  color: white;
}
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: normal;
  margin-top: 30px;
  color: white;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: fixed;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: fixed;
    top: 40px;
    width: 41.6%;
  }
  #sidebar {
    padding:40px 10px 0px 10px
  }
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #999999;
    color: #fff !important;
    transition: all 0.3s;
    font-size: 16px
}

#sidebar a{
    color: black;
}

#sidebar a:hover, a:focus{
    text-decoration: none;
}

#sidebar ul.components {
    padding: 20px 0;
}


#sidebar ul li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #24d8ba;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #1fc4a8;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 40px !important;
    background: #1fc4a8;
    text-align: left;
}

img {
    max-width: 100%;
    max-height: 100%;
}

figure{
  padding: 10px;
}


figcaption{
  padding: 10px;
  color:#707070;
}
